@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #222831;
  --cor-secundaria: #EEEEEE;
  --cor-terciaria: #00ADB5;
  --cor-hover: #393E46;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: var(--cor-primaria);
  box-sizing: border-box;
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0 0 10%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
}

.apresentacao {
  align-items: center;
  display: flex;
  padding: 5% 10%;
  justify-content: space-between;
}

.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 615px;
}

.apresentacao__conteudo__titulo{
  font-family: var(--fonte-primaria);
  font-size: 36px;
}

.titulo-destaque{
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
  font-family: var(--fonte-secundaria);
  font-size: 24px;
}

.apresentacao__links{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 32px;
}

.apresentacao__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-size: 24px;
  font-weight: 400;
}

.apresentacao__links__botao {
  align-items:  center;
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  color: var(--cor-secundaria);
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  text-align: center;
  padding: 21.5px 0;
  width: 378px;
}

.apresentacao__links__botao:hover {
  background-color: var(--cor-hover);
  transition: 400ms;
}

.rodape {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  padding: 24px;
  text-align: center;
}